section#aboutMe-sec {
    background-color:black;
    width: 100%;
    min-height: 720px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

div.aboutMe-box {
    width: 900px;
    position: relative;
    display: flex;
}

div.aboutMe-title {
    font-family: var(--headline);
    color: var(--color-black-second);
    text-shadow: -0.2vw -0.2vw 0px var(--color-black-third);
    font-size: 100px;
    padding: 20px;
    text-align: end;
    writing-mode: vertical-rl;

}
div.aboutMe-title em {
    display: block;
    font-size: 2em;
    line-height: 120px;
    text-shadow: -0.4vw -0.4vw 0px var(--color-black-third);
}

div.aboutMe-text {
    text-shadow: 1px 0px 0px var(--color-black-third);
    padding: clamp( 5px , 1.5vw, 10px);;
}

div.aboutMe-text h1 {
    font-family: var(--headline);
    color: var(--color-success);
    text-shadow: 2px 2px var(--color-fourth);
    font-size: clamp(1rem, 4.6vw, 2rem);
    margin-bottom: 10px;
}

div.aboutMe-text p {
    margin-bottom: clamp(0.4rem, 1.9vw, 0.7rem);
    font-size: clamp(0.75rem, 3.7vw, 1.35rem);
    line-height: clamp(1rem, 4.6vw, 2rem);
}


@media screen and (max-width: 992px) {

    div.aboutMe-title { 
        font-size: clamp(25px, 9vw,100px);
        padding: clamp( 2px , 1vw, 5px);
        text-align: right;
    }
    div.aboutMe-title em {
        text-shadow: -0.2vw -0.2vw 0px var(--color-black-third);   
        font-size: clamp(25px, 9vw,100px);
        line-height: inherit;
    }
}

@media screen and (max-width: 768px) {
    div.aboutMe-title { text-align: center; }
    div.aboutMe-title em { display: inline; } 
}

@media screen and (max-width: 330px) {
    div.aboutMe-title, div.aboutMe-title em { 
        text-align: start; 
        text-indent: 2.2rem;
        font-size: clamp(16px, 8vw, 25px);
    }
}
