section#aboutMe-sec {
    background-color:black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.aboutMe-box {
    width: 500px;
    height: 500px;
    background-color: gray;
}

.aboutMe-title {
    width: 500px;
}

.aboutMe-title h1 {
    font-size: 100px;
    font-family: var(--headline);
    text-align: right;
}