@charset "UTF-8";

/* Jupiter Section */
.jupiter-sec {
    position: relative;
	width: 100%;
	height: 100vh;
    background-color: black;
    background-clip: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;

    /* display: none; */
}

.jupiter-sec img {    
    position: absolute;
    animation: jupiter-rotation 50s linear 0s infinite reverse backwards;
    left: 50%;
    transform: translateX(-15.45%);
}

.base-jupiter {
    padding-top: 6px;
	width: 100%;
	height: 600px;
	background-color: black;
	mix-blend-mode: hard-light;
    /* opacity: .5; */
    
}

.hole-jupiter {
    margin: auto;
	width: 600px;
	height: 588px;
    box-shadow: 0px 0px 6px rgba(0, 255, 242, 0.25), inset 80px -50px 50px black, inset -2px -5px 5px rgb(0, 20, 20);
	border-radius: 50%;
	background-color: gray;
}


div.jupiter-box {
    position: absolute;
    text-align: center;
    left: 50%;
    

}

div.jupiter-box h1 {
    font-size: clamp( 22px, 2.2vw, 2rem);
    color: var(--color-first);
    text-shadow: 1.5px 1.5px 0px var(--color-fourth);
    font-weight: bold;
    margin: 5px;
}

div.jupiter-box p {
    font-size: clamp( 16px, 1.68vw, 1.6rem);

    text-shadow: 1px 1px 0px black;

}

/*Fim Jupiter Section */

/* Media Querys */
@media screen and (max-width: 992px) {
    .base-jupiter {
        height: 60vw;
    }

    .hole-jupiter {
        width: 60vw;
        height: calc(60vw - 12px);
        box-shadow: 0px 0px 6px rgba(0, 255, 242, 0.25), inset 9vw -50px 50px black, inset -2px -5px 5px rgb(0, 20, 20);
    }

    .jupiter-sec img {
        height: 59.5vw;
    }

    div.jupiter-box {
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
    }
}

/* Animações */
@keyframes jupiter-rotation {

    100% {
        transform: translateX(-84.55%);    
    }
}

@keyframes text-animation {
    0% {
        background-color: black;
        transform: rotateX(90deg);
    }
    45% {
        background-color: black;
        transform: rotateX(90deg);
        
    }
    50% {
        background-color: black;
        transform: rotateX(0deg);
    }
    95% {
        background-color: black;
        transform: rotateX(0deg);
    }
    100% {
       background-color: black;
       transform: rotateX(90deg);
    }
}