@charset "UTF-8";

/* Mars Section */
section#mars-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    /* display: none; */
}

#mars-sec > img {
    position: absolute;
    left: 10%;
    top: 30%;
    animation: mars-rotation 60s linear 0s infinite reverse backwards;
}

.base-mars {
    padding-top: 2px;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 300px;
    background-color: black;
    mix-blend-mode: hard-light;
    /* opacity: .5; */
}

.hole-mars {
    margin-left: 10%;
    width: 300px;
    height: 296px;
    border-radius: 50%;
	background-color: gray;
    box-shadow: 0px 0px 4px rgba(255, 135, 55, 0.322),inset 25px -20px 25px black, inset 0px 0px 10px rgba(0, 0, 0, 1);
}

/* Skill Content */

.mars-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mars-content h1 {
    font-family: var(--headline);
    color: var(--color-black-second);
    text-shadow: -0.2vw -0.2vw 0px var(--color-black-third);;
    font-size: 100px;
    text-align: center;
    margin-bottom: 25px;
}

.mars-content h2 {
    font-family: var(--body);
    font-size: 1.2em;
}


div#mars-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: min-content;
    gap: 50px;
}

div.skill-item {
    width: 210px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'imagem titulo titulo'
    'imagem progress progress';
}


img.skill-image {
    grid-area: imagem;
    image-rendering: pixelated;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.skill-title {
    grid-area: titulo;
    font-family: var(--body);
    text-align: center;
}

.progress {
    height: 25px;
    width: 150px;
    grid-area: progress;
    border: 6px solid var(--color-first);
    border-image-source: url('/assets/images/borda-battery.png');
    image-rendering: pixelated;
    border-image-slice: 9;
    overflow: hidden;
}

div.prog-charge {
    background-image: url('/assets/images/progress-bar.png');
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

div.prog-charge.js      {width: 70% }
div.prog-charge.css     {width: 85% }
div.prog-charge.html    {width: 90% }
div.prog-charge.flutter {width: 50% }
div.prog-charge.python  {width: 65% }
div.prog-charge.react   {width: 50% }
div.prog-charge.native  {width: 40% }








/* Media Querys */
@media screen and (max-width: 1620px) {
    .mars-content {
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 1380px) {
    .mars-content h1 { font-size: 75px}
    div#mars-skills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}


@media screen and (max-width: 992px) {

    #mars-sec { height: 85vh;}

    #mars-sec > img { height: 40.5vw; }
    
    .base-mars { height: 41vw; }

    #mars-sec > img, .base-mars, .hole-mars { top: 0; }

    .hole-mars {
        width: 40.5vw;
        height: calc(40.5vw - 4px);
        box-shadow: 0px 0px 4px rgba(255, 135, 55, 0.322),inset 3vw -2vw 25px black, inset 0px 0px 1vw rgba(0, 0, 0, 1);
    }

    div.mars-content { 
        padding-top: 15vh;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mars-content h1 { font-size: 48px}

    div#mars-skills { 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 25px;
    }
}


@keyframes mars-rotation {

    100% {
        transform: translateX(-66.7%);    
    }
}