@charset "UTF-8";

/* Montanhas Section */
section.montanhas-sec {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-image: url(/assets/images/montanhas.png), linear-gradient(0deg, #a18b93 15%, #488bad 40.5%,#8356bade 55%,#0b0049b4 90%, black 95%);
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.saudation {
    z-index: 5;
    max-width: 30vw;
    font-family: var(--headline);
    color: var(--color-success);
    text-shadow: 1px 1px black;
    line-height: clamp(1.4rem, 5vw, 1.8rem);
    text-align: justify;
}

div.saudation p {
    font-family: var(--body);
    font-size: clamp(1rem, 3vw, 1.4rem);
    margin: 10px 0px;
    text-indent: 2rem;
    color: white;
}

div.box {
    z-index: 5;
    text-shadow: 1px 1px black;
    color: white;
    line-height: 1.5rem;
    margin: 0px 20px;
}

div.box h1, div.saudation h1 {
    font-family: var(--headline);
    text-shadow: 2px 2px black;
    font-size: clamp(1.10rem, 3.8vw, 2rem);
    line-height: 2rem;
    margin-bottom: min(30px, 5vw);
}

div.box .title { 
    font-size: clamp(1.125rem,  4.6vw ,1.6rem);
    color: var(--color-second);
    font-weight: bold;
}

div.box h2:nth-child(n+5):nth-child(-n+12) {
    margin-top: min(15px, 3vw);
}

div.box .title:before, .content:before {
    content: '-> ';
    color: var(--color-success);
    font-weight: bold;
}

div.box .content {
    margin-left: min(5vw, 40px);
}

div.box .content:before {
    content: '--> ';    
}

strong {
    font-weight: bold;
}

/* Fim Montanhas */

/* Reflexo Montanhas */

div.montanha-reflexo {
    overflow: hidden;

}

div.separate {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(1deg,rgba(83, 85, 82, 0) 30%, rgba(36, 160, 129, 0.15) 80%,  rgba(0, 41, 39, 0.25) );
}

div.water-effect {
    display: flex;
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    transform: rotateX(180deg) scaleX(135%)  translateY(-2px) skewX(-8deg);
    filter: url("#turbulence");
    background-image: url(/assets/images/montanhas.png), linear-gradient(0.2deg, #7575a1 35%, #488bad 73.5%,#774faa 85%,#402557 90%, black 99%);
}

div.montanha-reflexo svg {
    width: 0;
    height: 0;
}
/*Fim Reflexo Montanhas */


/* Medias Querys */
/* layout */
@media screen and (max-width: 1200px) {
    section.montanhas-sec {
        flex-direction: column;
        justify-content: center;
        gap: 6vh;
        
    }
    div.saudation {
        min-width: 305px;
        max-width: 50vw;
    }
}