/* Reflexo Montanhas */
section.montanha-reflexo {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    
}

div.separate {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(1deg,rgba(83, 85, 82, 0) 30%, rgba(36, 160, 129, 0.15) 80%,  rgba(0, 41, 39, 0.25) );
}

div.water-effect {
    position: absolute;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    transform: rotateX(180deg) scaleX(135%)  translateY(-2px) skewX(-8deg);
    filter: url("#turbulence");
    background-image: url(/assets/images/montanhas.png), linear-gradient(0.2deg, #7575a1 35%, #488bad 73.5%,#774faa 85%,#402557 90%, black 99%);
}

section.montanha-reflexo svg {
    width: 0;
    height: 0;
}
/*Fim Reflexo Montanhas */

/* Contato */
div#contact-sec {
    width: 300px;

    z-index: 20;
}

#contact-sec h1 {
    font-family: var(--headline);
    color: var(--color-black-third);
    text-shadow: -2.5px -2.5px 0px var(--color-black-first);    
    font-size: 45px;
    text-align: center;
}

#contact-sec label {
    display: block;
    margin: 10px 0px 5px 0px;
    text-shadow: 1px 1px 0px var(--color-black-first);
}

#contact-sec input {
    color: white;
    text-shadow: 1px 1px 0px var(--color-black-first);
    width: 100%;
    line-height: 25px;
    background-color: rgba(255, 255, 255, 0);

    border: 6px solid var(--color-first);
    border-image-source: url('/assets/images/borda.png');
    border-image-slice: 16;
}

#contact-sec textarea {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 0px var(--color-black-first);

    border: 6px solid var(--color-first);
    border-image-source: url('/assets/images/borda.png');
    border-image-slice: 16;    
}

#contact-sec button {
    border: 1.5px solid black;
    width: 100%;
    height: 30px;
    background-color: var(--color-black-third);
    box-shadow: -2.5px -2.5px 0px var(--color-black-first);
    font-family: var(--body);
    cursor: pointer;

}


@media screen and (max-width: 992px) { 

    section.montanha-reflexo { height: auto; }

    div#contact-sec { margin: 60px 0px 120px 0px; }
}

@media screen and (max-width: 400px) {

    div#contact-sec {
        width: 75vw;
    }

    div#contact-sec h1 {
        font-size: clamp(20px, 11.2vw, 45px);
    }
    
}