#myProjects-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

#myProjects {
    padding-top: 75px;
    position: relative;
    max-width: 1350px;
}

#myProjects h2 {
    font-family: var(--headline);
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: max-content;
    height: 75px;
}

.folder-btn {
    background-color: var(--color-black-second);
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 78px;
    width: clamp(75px, 20vw, 300px);
    border-radius: 20px 30px 0 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
    color: white;
    text-align: start;
    padding: 20px;
    border: 3px solid var(--color-first);
    border-bottom: none;
}
.folder-btn.first {
    left: 0;
    box-shadow: inset 5px 16px 15px rgba(0, 0, 0, 0.425);
}

.folder-btn.sec {
    left: clamp(80px, calc(20vw + 5px), 305px);
}

.folder-btn.ofuscar {
    z-index: 1;
    opacity: 0.7;
    box-shadow: none;
    border: none;
}



.gridProjectItens {
    padding: 50px;
    background-color: var(--color-black-second);
    width: 100%;
    height: 100%;
    border-radius: 0 30px 60px 60px;
    border: 3px solid var(--color-first);
    box-shadow: inset 5px -15px 15px rgba(0, 0, 0, 0.425);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'pri pri seg seg' 
        'ter ter qua qui';
}

.pri { grid-area: pri;}
.seg { grid-area: seg;}
.ter { grid-area: ter;}
.qua { grid-area: qua;}
.qui { grid-area: qui;}