section#myProjects {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

section#myProjects > h1 {
    font-size: clamp(0px, 13vw, 150px);
    color: var(--color-black-second);
    font-weight: bold;
    white-space: pre-wrap;
}

div.gridProjectItens {
    width: 1320px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'pri pri seg seg'
    'ter ter qua qui'; 
}

div.itemProject {
    position: relative;
    background-color: var(--color-black-second);
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.788);
    text-shadow: 1px 0px 0px black;
    border-radius: 24px;
    height: 305px;
    padding: 32px 32px 0px 32px;
    transition: padding 200ms ease-in-out, background-color 300ms linear;
    cursor:  default;
    overflow: hidden;    
}

div.itemProject:hover {
    padding: 48px 32px 0px 42px;
    background-color: var(--color-first);
}

div.itemProject span {
    font-size: 0.875;
    display: block;
    text-transform: uppercase;
}

div.itemProject h1 {
    font-size: 1.75rem;
    margin: 10px 0px;
    color: var(--color-second);
}

div.itemProject p {
    font-size: 1.375rem;
    margin-bottom: 10px;
    line-height: 1.65rem;
}

div.itemProject p::before {
    content: '-> ';
    color: var(--color-success);
    font-weight: bold;
}

i.setaIcon {
    position: absolute;
    top: 24px;
    right: 24px;
    background-image: url('/assets/svg/seta.svg');
    width: 50px;
    height: 50px;
    transition: transform 300ms ease-in-out;
}

div.itemProject.qui {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.itemProject.qui img { /* Github */
    image-rendering: pixelated;
    width: 115px;
    transition: transform 300ms ease-in-out;
}

div.itemProject.qui p {
    font-weight: bolder;
    text-align: center;
    position: absolute;
    text-shadow: -1.5px -1.5px 0px black;
    bottom: 20px;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

div.itemProject.qui p::before { content: none}

div.itemProject.qui:hover > img{
    transform: scale(1.2);
} 
div.itemProject.qui:hover > p {
    opacity: 1;
}

i.setaIcon:hover {
    transform: rotate(330deg);
}

div.itemProject img.img-flutuant {
    width: 240px;
    position: absolute;
    bottom: -100%;
    left: 50%;
    padding: 0;
    transition: bottom 500ms ease-in-out, opacity 500ms linear, transform 400ms ease-in-out;
    will-change: transform, bottom;
    transform: translateX(-50%) scale(0.5);
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.692));
}

div.itemProject:hover > img.img-flutuant {
    bottom: 0; 
    transform: translateX(-50%) scale(1);
}

.itemProject.pri { grid-area: pri }
.itemProject.seg { grid-area: seg }
.itemProject.ter { grid-area: ter }
.itemProject.qua { grid-area: qua }
.itemProject.qui { grid-area: qui }

/* Media Queries */

@media screen and (max-width: 1380px) {
    div.gridProjectItens {
        width: 95vw;
    }

    div.itemProject { height: clamp(255px, 22vw, 305px) }

    div.itemProject span { font-size: clamp(12px, 1.15vw ,16px) }

    div.itemProject h1 { 
        font-size: clamp(20px, 2.03vw ,28px);
        margin: clamp(5px, 0.72vw , 10px) 0px; 
     }
    div.itemProject p { 
        font-size: clamp(16px, 1.6vw  ,22px);
        line-height: clamp(20px, 1.92vw  ,26.4px);
    }

    div.itemProject img.img-flutuant {
        width: max(17.4vw)
    }

    div.itemProject {
        padding: max(27.3px ,2.35vw) max(27.3px ,2.35vw) 0px max(27.3px ,2.35vw);
    }

    div.itemProject:hover {
        padding-top: clamp(40.45px ,3.5vw, 48px);
        padding-left: clamp(35.40px ,3.06vw, 42px);
    }

    div.itemProject.qui { padding: 0 }

    div.itemProject.qui img { width: clamp(60px, 8.4vw, 115px)}

    i.setaIcon {
        width: max(38px, 3.6vw);
        height: max(38px, 3.6vw);
        top: 1.74vw;
        right: 1.74vw;
    }
}

@media screen and (max-width: 920px) {
    section#myProjects {
        height: auto;
    }

    div.gridProjectItens {
        display: flex;
        flex-direction: column;
        gap: 2.5vw;
    }

    div.itemProject { 
        height: auto;
        padding-bottom: max(27.3px ,2.35vw);
    }

    div.itemProject.qui {
        align-self: center;
        padding: 15px;
    }

    div.itemProject.qui i { display: none }

    div.itemProject.qui p { 
        opacity: 1; 
        position: static; 
        margin-bottom: 1vw;
    }
}