<!-- grid-template-columns: 1fr 1fr; grid-template-areas: 'pri seg' -->

<div id="gridProjectItens" style="grid-template-columns: 1fr 1fr; grid-template-areas: 'pri seg' 'null qui';" >
    <div class="pri card-item" >  <!-- Atualizar -->
        <i class="setaIcon"></i>
        <div class="project-content">
            <span>JavaScript - Node.js</span>
            <h3>Text to Speech</h3>
            <p>Extensão de navegador.</p>
            <p>Converter texto para fala humana sintetizada, através da API da <strong class="--yellow">Google Cloud</strong>!</p>
            <p>Back-end em <strong class="--yellow">Node.js</strong> com <strong class="--yellow">Express.js</strong>.</p>
            <span class="italic">[em construção...]</span>
        </div>
    </div>
    
    <div class="seg card-item"> <!-- Java - Servlet / JSP -->
        <a href="https://github.com/amdrejr/agenda-javaee" target="_blank"><i class="setaIcon"></i></a>
        <img src="assets/images/agenda.png" class="img-flutuant" alt="Projeto Flutter Imagem">
        <div class="project-content">
            <span>JavaEE - Servlet / JSP</span>
            <h3>Lista de Contatos</h3>
            <p>Uma lista de contatos simples, com as operações de <strong>CRUD</strong>, foco no back-end com Servlets Java EE.</p>
            <p><strong class="--yellow">JSP</strong> para camada de visualização.</p>
            <p>Banco de dados: <strong class="--yellow">MySQL</strong></p>
        </div>
    </div>

    <div class="qui card-item github"> <!-- Github -->
        <a href="https://github.com/amdrejr" target="_blank"><i class="setaIcon"></i></a>
        <img src="assets/images/github-pixel.png" alt="Imagem Github">
            <p>Veja mais em meu GitHub!</p>
    </div>
</div>