<div id="gridProjectItens">
    <div class="pri card-item"> <!-- Atualizar -->
        <a href="https://amdrejr-angular-loja.netlify.app/" target="_blank"><i class="setaIcon"></i></a>
        <img src="assets/images/loja.png" class="img-flutuant" alt="Projeto Flutter Imagem">
        <div class="project-content">
            <span>TypeScript - Angular</span>
            <h3>Tech Loja</h3>
            <p>
                Uma loja de produtos de informática. É um projeto simples, mas que atende aos requisitos básicos do <strong class="--yellow">front-end</strong> de um e-commerce.
            </p>
            <p>Projeto foi feito usando <strong class="--yellow">CSS puro</strong> e seguindo o conceito de <strong>mobile first</strong>.</p>
        </div>
    </div>
    
    <div class="seg card-item"> <!-- StopControl - Flutter -->
        <a href="https://github.com/amdrejr/Flutter-Controle-de-Chamados-e-Exportacao-.xlsx" target="_blank"><i class="setaIcon"></i></a>
        <img src="assets/images/proj-flutter.png" class="img-flutuant" alt="Projeto Flutter Imagem">
        <div class="project-content">
            <span>Flutter - Mobile</span>
            <h3>Controle de Chamados</h3>
            <p>Substituir folhas de papel, maximizar tempo de serviço e gerar um histórico de chamados em <strong class="--yellow">.xlsx</strong>!</p>
            <p>Projeto semestral do curso de <strong>Eng. de Computação</strong>. Onde um dos critérios seria solucionar um <strong>caso real</strong> com uma aplicação.</p>
        </div>
    </div>
    
    <div class="ter card-item"> <!-- Jogo da memória -->
        <a href="https://amdrejr-jogo-da-memoria.netlify.app/" target="_blank"><i class="setaIcon"></i></a>
        <img src="assets/images/proj-jogo-memoria.png" class="projMemoria img-flutuant" alt="Projeto Jogo da Memória">
        <div class="project-content">
            <span>JavaScript</span>
            <h3>Jogo da Memória</h3>
            <p>Jogo da Memória feito em em <strong>JavaScript puro</strong>.</p>
            <p>Seguindo os princípios de componetização da biblioteca <strong class="--yellow">React.js</strong>.</p>
            <p>build tool: <strong class="--yellow">Vite</strong>.</p>
        </div>
    </div>
    
    <div class="qua card-item"> <!-- Todo-list -->
        <a href="https://amdrejr-todo-list.netlify.app/" target="_blank"><i class="setaIcon"></i></a>
        <img src="assets/images/proj-lista-tarefas.png" class="projMemoria img-flutuant" alt="Projeto Lista de Tarefas">
        <div class="project-content">
            <span>React.js</span>
            <h3>Lista To-do</h3>
            <p>Uma lista de tarefas simples.</p>
            <p>Onde é possível, criar, editar, concluir e remover tarefas.</p>
        </div>
    </div>
    
    <div class="qui card-item github"> <!-- Github -->
        <a href="https://github.com/amdrejr" target="_blank"><i class="setaIcon"></i></a>
        <img src="assets/images/github-pixel.png" alt="Imagem Github">
            <p>Veja mais em meu GitHub!</p>
    </div>
</div>