@charset "UTF-8";

@keyframes voar {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(150px) rotate(50deg);
    }
    100% {
        transform: translateX(300px);
    }
}

@keyframes arrow-hover {
    0% {
        transform: translateY(0px) rotate(-90deg);
    }
    100% {
        transform: translateY(-10px) rotate(-90deg);
    }
}

@keyframes text-animation {
    0% {
        background-color: black;
        transform: rotateX(90deg);
    }
    45% {
        background-color: black;
        transform: rotateX(90deg);
        
    }
    50% {
        background-color: black;
        transform: rotateX(0deg);
    }
    95% {
        background-color: black;
        transform: rotateX(0deg);
    }
    100% {
       background-color: black;
       transform: rotateX(90deg);
    }
}

@keyframes img-rotation {
    from {
        transform: rotate(0deg) scale(200%);
    }

    to {
        transform: rotate(360deg) scale(200%);
    }
}

@keyframes meteorites-animation {
    100% {
        transform: translateX(-100vw);
    }
}