@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Press+Start+2P&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 300vh;
}



:root {
    --headline: 'Press Start 2P', cursive;
    --body: 'Fira Code', monospace;

    --color-black-first: black;
    --color-black-second: #3A4042;
    --color-black-third: #828282;

    --color-first: #EC7100;
    --color-second: #642CA9;
    --color-third: white;
    --color-fourth: #227C9D;

    --color-error: #52050A;
    --color-success: #a2ee4b;
    --color-warning: #FFD447;

}

header#cabecalho {
    color: white;
    width: 100%;
    height: 80px;
    background-color: var(--color-second);
    box-shadow: 0px 5px 0px black;
    display: flex;
    font-family: var(--body);
    padding: 0px 20px;
    align-items: center;
    position: relative;

}

#cabecalho img {
    width: 60px;
    height: 60px;
    box-shadow: 5px 5px 0px black;
    border: 5px  groove var(--color-first);
}

#cabecalho div.text-reveal h1 {
    font-family: var(--headline);
    margin-left: 15px;
    font-size: 1.5em;
    text-shadow: 3px 3px black;
    line-height: 2em;
}

#cabecalho h1.text-revealable {
    animation: text-animation 10s ease-in-out infinite;
    position: absolute;
    color: white;
}

#navbar {
    flex: auto;
    text-align: right;
}

#navbar ul {
    margin-right: 50px;
}

#navbar li {
    display: inline;
    margin-left: 50px;    
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-third);
    font-size: 18px;
    
}

#navbar a::before {
    content: '> ';
    color: var(--color-first);
    font-size: 11px;
    font-family: var(--headline);
}

#navbar a:hover {
    color: var(--color-success);
    transform: scale(1.1) rotate(2deg);
    transition: transform 500ms cubic-bezier(.63,-0.99,.37,1.99), color 1s linear;
}

#btn-cabecalho {
    outline: none;
    border: none;
    padding: 0px 20px;
    height: 60px;
    background-color: var(--color-first);
    font-family: var(--body);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 1.2em;
    color: var(--color-third);
    box-shadow: 5px 5px 0px black;
    cursor: pointer;
    transition: transform 300ms cubic-bezier(.59,.94,.12,1.68), box-shadow 300ms cubic-bezier(.59,.94,.12,1.68), color 100ms linear;
}

#btn-cabecalho:hover {
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 0px black;
    
}

#btn-cabecalho:active {
    transform: translate(0px, 0px);
    box-shadow: 5px 5px 0px black;
    color: goldenrod;
}


#arrow-down {
    position: fixed;    
    right: 0;
    bottom: 0;
    transform: rotate(-90deg);
    margin: 30px;
    height: 60px;
    opacity: .5;
    transition: opacity 0.3s;
}

#arrow-down:hover {
    cursor: pointer;
    opacity: 1;
    animation: arrow-hover 300ms ease-out infinite alternate;
    
}


